* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Poppins";
}

nav {
    background: #2874F0;
    padding: 12px 0;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.brand-section {
    align-items: baseline;
    padding: 0 12px 0 40px;
}

.brand-section .logoImg {
    width: 40px;
}

.logoText {
    width: 100px;
}

/* .cartAndSellerOptionsSection{

} */
/* .cartAndSellerOptionsSection ul {
    list-style-type: none;
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
    gap: 20px;
} */

/* .cartAndSellerOptionsSection ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;

} */

.searchSection {
    width: 45%;
    position: relative;

}

.searchSection input {
    border: transparent;
    background-color: #fff;
    outline: none;
    padding: 12px;
    width: 100%;
    border-radius: 4px;

}

.searchSection input::placeholder {
    font-size: 16px;
    color: rgb(179, 177, 177);
}

.searchIcon {
    color: #0552ce;
    position: absolute;
    font-size: 18px;
    top: 11px;
    right: 10px;
    cursor: pointer;
}

.loginSection button {
    background: #fff;
    color: #0552ce;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 8px 24px;
    font-size: 18px;
    margin:  0 20px 0 20px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.sellerSection{
    margin: 0 40px 0 20px;
}
.moreSection{
    /* position: relative;
    border: 1px solid red;
    /* width: 4%; */
    /* padding: 0 20px; */
    margin: 0 40px 0 0;
}
.cartSection{
    display: flex;
    align-items: center;
}
.cartIcon{
    color: #fff;
}


@media screen and (min-width : 390px) and (max-width : 600px) {
    body{
        /* transform: scale(0.7); */
    }
    nav{
        justify-content: space-between;
    }
    html{
        width: 100%;
    }
    .sellerSection{
display: none;
    }
    .moreSection{
        display: none;
    }
    .loginSection{
        display: none;
    }
    .brand-section {
    align-items: baseline;
    padding: 0 0px 0 12px;
}

.brand-section .logoImg {
    width: 25px;
}

.logoText {
    width: 70px;
}


.searchSection {
    width: 52%;
    position: relative;
    

}

.searchSection input {
    border: transparent;
    background-color: #fff;
    outline: none;
    padding: 12px 8px;
    width: 100%;
    border-radius: 4px;
    
flex-shrink: 2;
}

.searchSection input::placeholder {
    font-size: 14px;
    color: rgb(179, 177, 177);
}

.searchIcon {
    color: #0552ce;
    position: absolute;
    font-size: 18px;
    top: 11px;
    right: 10px;
    cursor: pointer;
}


.cartSection{
    display: flex;
    align-items: center;
    position: relative;
    right: 4px;
}
.cartIcon{
    color: #fff;
}

}



@media screen and (min-width : 320px) and (max-width : 390px) {
    .brand-section{
        padding-left: 6px;
    }
body{
        /* transform: scale(0.7); */
    }
    nav{
        justify-content: space-between;
    }
    html{
        width: 100%;
    }
    .sellerSection{
display: none;
    }
    .moreSection{
        display: none;
    }
    .loginSection{
        display: none;
    }
    .brand-section {
    align-items: baseline;
    padding: 0 0px 0 6px;
}

.brand-section .logoImg {
    width: 25px;
}

.logoText {
    width: 70px;
}


.searchSection {
    width: 50%;
    position: relative;
    

}

.searchSection input {
    border: transparent;
    background-color: #fff;
    outline: none;
    padding: 12px 8px;
    width: 100%;
    border-radius: 4px;
    
flex-shrink: 2;
}

.searchSection input::placeholder {
    font-size: 14px;
    color: rgb(179, 177, 177);
}

.searchIcon {
    color: #0552ce;
    position: absolute;
    font-size: 16px;
    top: 13px;
    right: 6px;
    cursor: pointer;
}


.cartSection{
    display: flex;
    align-items: center;
    position: relative;
    right: 2px;
}
.cartIcon{
    color: #fff;
    font-size: 16px;
}
.cartSection a{
    font-size: 14px;
}

}


@media screen and (min-width : 1630px) and (max-width : 1920px) {
    .brand-section {
    align-items: baseline;
    padding: 0 24px 0 40px;
}

.brand-section .logoImg {
    width: 40px;
}

.logoText {
    width: 100px;
}


.searchSection {
    width: 60%;
    position: relative;

}

.searchSection input {
    border: transparent;
    background-color: #fff;
    outline: none;
    padding: 12px;
    width: 100%;
    border-radius: 4px;

}

.searchSection input::placeholder {
    font-size: 16px;
    color: rgb(179, 177, 177);
}

.searchIcon {
    color: #0552ce;
    position: absolute;
    font-size: 18px;
    top: 11px;
    right: 10px;
    cursor: pointer;
}
}



@media screen and (min-width : 1520px) and (max-width : 1630px) {
        .brand-section {
    align-items: baseline;
    padding: 0 24px 0 40px;
}

.brand-section .logoImg {
    width: 40px;
}

.logoText {
    width: 100px;
}


.searchSection {
    width: 50%;
    position: relative;

}

.searchSection input {
    border: transparent;
    background-color: #fff;
    outline: none;
    padding: 12px;
    width: 100%;
    border-radius: 4px;

}

.searchSection input::placeholder {
    font-size: 16px;
    color: rgb(179, 177, 177);
}

.searchIcon {
    color: #0552ce;
    position: absolute;
    font-size: 18px;
    top: 11px;
    right: 10px;
    cursor: pointer;
}
}



/* === Javascript card === */

.card{
    background: #fff;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: max-content;
    width: 300px;
    padding: 16px 12px 20px;
    margin: 20px auto;
    position: relative;
}
.card-id{
    text-align: right;
    color: gray;
    margin: 0 0 12px 0;
}
.Image-top{
    padding: 0 12px;
}
.Image-top img{
    width: 100%;
    border-radius: 4px;
    margin: 12px 0;
}

.card-body{
    padding: 0px 8px;
}
.card-body .card-title{
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
    color: #494a51;
    /* margin: 12px 0; */
}
.card-body .card-description{
    margin: 12px 0;

}
.card-star{
    margin: 8px 0 16px;
    width: max-content;
}
.card-star i{
        font-size: 14px;
        color: #101010;

}
.card-price{
    font-size: 24px;
    font-weight: 600;
}
.card-cart-icon{
background: #2667FF;
padding: 12px;
border-radius: 8px;
width: max-content;
position: absolute;
bottom: 20px;
right: 20px;
cursor: pointer;
}
.card-cart-icon i{
    font-size: 18px;
    color: #fff;
}