input{
    outline: none;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid gray;
    width: 20%;
}
button{
    display: block;
    color: #fff;
    background-color: blue;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 6px 16px;
    margin: 10px 0 0 0px;
    width: max-content;
    
}

img{
    width: 200px;
    height: 200px;
    margin: 50px 0 0;
}