*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica,  Arial,  sans-serif;
}


table{
    border-collapse: collapse;
    margin: 20px 12px;
}

th,
td{
    border: 2px solid black;
    padding: 6px ;
}



#formContainer{
display: flex;
flex-direction: column;
width: 60%;
margin: 80px auto;
padding:   20px 10px 40px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#formContainer input{
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 16px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
}
#formContainer input:focus{
    border: 1px solid rgb(13, 13, 168);
    box-shadow:  rgb(44, 16, 228) 0px 1px 2px 0px;
}
#formContainer input::placeholder{
    color: gray;
}

select{
     outline: none;
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 16px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    
}
select:focus{
    border: 1px solid rgb(13, 13, 168);
    box-shadow:  rgb(44, 16, 228) 0px 1px 2px 0px;
}


h3{
    text-align: center;
    color: #1c50d4;
    margin-bottom: 28px;
    font-size: 26px;
    
}

button{
    color: #fff;
    font-weight: 600;
    background-color: blue;
    padding: 8px 16px;
    text-align: center;
    outline: none;
    border: none;
    width: 200px;
    margin: 0 auto;
    border-radius: 12px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(7, 7, 215);
}

#parent{
    width: max-content;
    margin: 20px auto;
}



@media screen and (min-width : 576px) and (max-width  : 800px) {
    




#formContainer{
display: flex;
flex-direction: column;
width: 80%;
margin: 80px auto;
padding:   20px 10px 40px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#formContainer input{
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 16px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
}
#formContainer input:focus{
    border: 1px solid rgb(13, 13, 168);
    box-shadow:  rgb(44, 16, 228) 0px 1px 2px 0px;
}
#formContainer input::placeholder{
    color: gray;
}

select{
     outline: none;
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 16px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    
}
select:focus{
    border: 1px solid rgb(13, 13, 168);
    box-shadow:  rgb(44, 16, 228) 0px 1px 2px 0px;
}


h3{
    text-align: center;
    color: #1c50d4;
    margin-bottom: 28px;
    font-size: 22px;
    
}

button{
    color: #fff;
    font-weight: 600;
    background-color: blue;
    padding: 8px 16px;
    text-align: center;
    outline: none;
    border: none;
    width: 200px;
    margin: 0 auto;
    border-radius: 12px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(7, 7, 215);
}

#parent{
    width: max-content;
    margin: 20px auto;
}



}


@media screen and (min-width : 320px) and (max-width : 576px) {
    
#formContainer{
display: flex;
flex-direction: column;
width: 90%;
margin: 80px auto;
padding:   20px 10px 40px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#formContainer input{
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 16px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
}
#formContainer input:focus{
    border: 1px solid rgb(13, 13, 168);
    box-shadow:  rgb(44, 16, 228) 0px 1px 2px 0px;
}
#formContainer input::placeholder{
    color: gray;
}

select{
     outline: none;
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 16px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    background-color: #fff !important;
}
select:focus{
    border: 1px solid rgb(13, 13, 168);
    box-shadow:  rgb(44, 16, 228) 0px 1px 2px 0px;
}


h3{
    text-align: center;
    color: #1c50d4;
    margin-bottom: 28px;
    font-size: 22px;
    line-height: 30px;
}

button{
    color: #fff;
    font-weight: 600;
    background-color: blue;
    padding: 8px 16px;
    text-align: center;
    outline: none;
    border: none;
    width: 200px;
    margin: 0 auto;
    border-radius: 12px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(7, 7, 215);
}

#parent{
    width: max-content;
    margin: 20px 0;
    display: flex;
    justify-content: start;
}
table{
    border-collapse: collapse;
    margin: 20px -35px;
    transform: scale(0.7);
  
}

th,
td{
    border: 2px solid black;
    padding: 6px;
    

}


}