*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.body-scetion{
width: 100%;
height: 100vh;
/* background-image: url(./background-image2.webp); */
background: rgb(31, 166, 210);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.form-container{
    
    border: 8px solid #0F99D7;
    display: flex;
    flex-direction: column;
    background-color: #3B459E;
    padding: 150px 75px;
    width: 60%;
}
.form-container input{
    border: none;
    border-bottom: 1px solid #0F99D7;
    background: transparent;
    outline: none;
    width: 100%;
    padding: 8px 16px;
    margin-bottom: 30px;
    color: #d3d3d3;
    font-size: 18px;
}
.form-container input::placeholder{
    color: #0F99D7;
    font-size: 18px;
}

h2{
    text-align: center;
    margin: 0 0 60px 0 ;
    color: #d3d3d3;
}
.form-container button{
    border: none;
    outline: none;
    color: #fff;
    background-color: #22d3ee;
    border-radius: 12px;
    padding: 8px 16px;
    width: 200px;
    margin: 20px auto 0;
    font-weight: 600;
    cursor: pointer;
}
.form-container button:hover{
background-color: #12c3de;

}

@media only screen and (max-width : 700px) {
    .form-container{
        width: 80%;
        padding: 60px 25px;
    }
    .form-container button{
        width: 175px;
    }
}