*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    /* background-color: #fff; */
        /* overflow-x: hidden; */
        /* overflow-y: hidden; */
}
.calculator-container{
/* border: 1px solid red; */
width: max-content;
background-color: black;
border-radius: 10px;
border: none;
outline: none;
}
input{
    border: none;
    outline: none;
    background: transparent;
    /* margin-bottom: 15px; */
    padding: 48px 12px;
    color: #fff;
    z-index: 1;
    font-size: 22px;
    width: 80%;
}

/* input:disabled{
     
    color: #fff !important;         
    opacity: 1;                      
    -webkit-text-fill-color: #fff;  
    background: transparent;       

} */
main{
    width: 100%;
    height: 100vh;
    /* transform: scale(1.5); */

    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table{
    width: 100%;
    border: none;
    border-spacing: 11px;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 20px; */
}

table tr{
    /* margin-bottom: 20px; */
    /* border: 1px solid red; */

    /* display: flex; */
    /* flex-direction: column; */
}
td{
   cursor: pointer;

}
.bg-gray-btn{
background-color: #333333;
color: #fff;
border-radius: 50%;
width: 70px;
height: 70px;
text-align: center;
font-size: 22px;

border: none;
/* padding: 6px 3px; */

}

.bg-yellow-btn{
background-color: #FE9700;
border: none;
color: #fff;
text-align: center;
width: 70px;
height: 70px;
font-size: 22px;
border-radius: 50%;
}

.bg-lightgray-btn{
    color: #2a2929;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #A7A6A7;
    text-align: center;
    font-size: 22px;

    border: none;
}

@media screen and (max-width : 600px){

    body{
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
    main{
    width: 100%;
    height: 100vh;
    /* transform: scale(1.35); */

    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transform: scale(1.5); */
}
input{
        padding: 36px 12px;

    font-size: 20px;

}
.bg-gray-btn,
.bg-yellow-btn,
.bg-lightgray-btn{
width: 60px;
height: 60px;
font-size: 20px;
}
}