*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container{
width: 60%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
padding: 150px 75px;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;

}

.form-container input{
    width: 100%;
    border: 1px solid gray;
    outline: none;
    border-radius: 12px;
    padding: 8px 16px;
    margin: 10px 0  0;
}

.form-container button{
    background-color: blue;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 8px 16px;
    color: #fff;
margin: 0 auto;
cursor: pointer;
transition: 0.3s all ease-in;
}

.form-container button:hover{
    background-color: rgb(4, 4, 208);
        transform: translateX(5px);
        transform: scale(1.1);
}
h2{
    /* font-size: 24px; */
    text-align: center;
    color: #bcbbbb;
}
p{
    text-align: center;
            line-height: 25px;

    margin: 16px 0 0;
}

@media screen and (max-width: 800px) {
    .form-container{
        width: 80%;
        padding: 80px 25px;
    }
    h2{
    font-size: 20px;
    text-align: center;
}
    p{
        margin: 10px 0 0;
    }
    
}