/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container{
width: 60%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
padding: 150px 75px;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;

}

.form-container input{
    width: 100%;
    border: 1px solid gray;
    outline: none;
    border-radius: 12px;
    padding: 8px 16px;
    margin: 10px 0  0;
}

.form-container button{
    background-color: blue;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 8px 16px;
    color: #fff;
margin: 0 auto;
cursor: pointer;
transition: 0.3s all ease-in;
}

.form-container button:hover{
    background-color: rgb(4, 4, 208);
        transform: translateX(5px);
        transform: scale(1.1);
}
p{
    text-align: center;
            line-height: 25px;

    margin: 16px 0 0;
}

@media screen and (max-width: 800px) {
    .form-container{
        width: 80%;
        padding: 80px 25px;
    }
    p{
        margin: 10px 0 0;
    }
    
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container{
width: 60%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
display: flex;
flex-direction: column;
align-items: center;
gap: 25px;
padding: 70px 75px;
}

.form-container input{
    /* border: none; */
    border: 1px solid gray;
    outline: none;
    width: 100%;
    border-radius: 12px;
    padding: 8px 16px;
}
.form-container input:focus{
    border: 1px solid black;
}

.form-container button{
    border: none;
    border-radius: 12px;
    padding: 8px 16px;
    color: #fff;
    font-weight: 600;
    background-color: blue;
    margin: 20px 0 0 ;
    transition: 0.3s all ease-in;
    cursor: pointer;

}
.form-container button:hover{
background-color: rgb(4, 4, 183);
transform: scale(1.1);
}

.return-anchor{
    text-decoration: none ;
    color: #fff;
    display: inline-block;
    background-color: blue;
    padding: 8px 16px;
    border: none;
    border-radius: 12px;
    margin: 20px 0 0;
}

a{
    text-decoration: none;
    color: #fff;
}

h2{
    text-align: center;
}

p{
    color: #000;
}

@media  screen and (min-width: 320px) and (max-width: 600px) {
     .form-container{
width: 90%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
display: flex;
flex-direction: column;
align-items: center;
gap: 25px;
padding: 40px 25px;
}



}


@media screen and (min-width: 601px) and (max-width : 900px) {
   .form-container{
width: 95%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
display: flex;
flex-direction: column;
align-items: center;
gap: 25px;
padding: 70px 50px;
}

}