*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    /* background-color: #fff; */

}
.calculator-container{
/* border: 1px solid red; */
width: max-content;
background-color: black;
border-radius: 8px;
border: none;
outline: none;
}
input{
    border: none;
    outline: none;
    background: transparent;
    /* margin-bottom: 15px; */
    padding: 16px 12px;
    color: #fff;
    /* font-size: 1px; */
    width: 80%;
}
main{
    width: 100%;
    height: 100vh;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table{
    width: 100%;
    border: none;
    border-spacing: 10px;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 20px; */
}

table tr{
    /* margin-bottom: 20px; */
    /* border: 1px solid red; */

    /* display: flex; */
    /* flex-direction: column; */
}
td{
   cursor: pointer;

}
.bg-gray-btn{
background-color: #333333;
color: #fff;
border-radius: 50%;
width: 40px;
height: 40px;
text-align: center;
border: none;
/* padding: 6px 3px; */

}

.bg-yellow-btn{
background-color: #FE9700;
border: none;
color: #fff;
text-align: center;
width: 40px;
height: 40px;
border-radius: 50%;
}

.bg-lightgray-btn{
    color: #2a2929;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #A7A6A7;
    text-align: center;
    border: none;
}