*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
   background-color: #65AD5B; 
  
   
}
.form-container{
display: flex;
width: 45%;
margin: 0 auto;
flex-direction: column;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
gap: 30px;
padding: 100px 50px;
background-color: #F9F9F9;

}
.form-container input{
    border: 1px solid lightgray;
    outline: none;
    padding: 8px 16px;
    border-radius: 12px;
    width: 100%;
    background-color: #fff;
    margin: 6px 0 0;
}
.form-container input:focus{
    border: 1px solid #5ec650;
}
.form-container button{
    color: #fff;
    background-color: #65AD5A;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 12px;
    width: 200px;
    margin: 0 auto;
    font-weight: 600;
    cursor: pointer;
}
.form-container button:hover{
        background-color: #4db73d;

}
.body-container{
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
/* border: 1px solid red; */
}
label{
    color: gray;
}

@media  only screen and (min-width : 769px) and (max-width : 998px) {
    .form-container{ 
    width: 70%;
    }
}
@media only screen and (max-width : 768px){
    .form-container{
        width: 80%;
        padding: 100px 30px;
    }
    .form-container button{
        width: 170px;
    }
}
